// ------------------------------
// Font Imports
// ------------------------------
// Archivo Black for headings
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

// Arimo for body text, with a range of weights and styles
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

// ------------------------------
// Text Styles
// ------------------------------

// Title Styles
.title {
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: left;
	color: $main-bg;
	margin-bottom: px($s1); // Using px() function for spacing variable
	text-transform: uppercase;
	line-height: 120%;
	letter-spacing: 3px;

	@include av('font-size', 72, 28, $maxWC, $minWC);

	// Text shadow for outline effect
	text-shadow:
		1px 0 0 $txt-dark-gray,
		0 1px 0 $txt-dark-gray,
		-1px 0 0 $txt-dark-gray,
		0 -1px 0 $txt-dark-gray,
		1px 1px $txt-dark-gray,
		-1px -1px 0 $txt-dark-gray,
		1px -1px 0 $txt-dark-gray,
		-1px 1px 0 $txt-dark-gray;

	@media (max-width: px($wc3)) {
		text-shadow:
			0.5px 0 0 $txt-dark-gray,
			0 0.5px 0 $txt-dark-gray,
			-0.5px 0 0 $txt-dark-gray,
			0 -0.5px 0 $txt-dark-gray,
			0.5px 0.5px $txt-dark-gray,
			-0.5px -0.5px 0 $txt-dark-gray,
			0.5px -0.5px 0 $txt-dark-gray,
			-0.5px 0.5px 0 $txt-dark-gray;
	}
}

// Text Styles
.text,
.bold-text {
	color: $txt-gray;
	font-family: "Arimo", sans-serif;
	line-height: 120%;

	@include av('font-size', 20, 17, $maxWC, $minWC);
}

// Bold Text Modifier
.bold-text {
	font-weight: bold; // Assuming you want .bold-text to be bold
}
