.gallery {
	width: 100vw;
	overflow: hidden;
}

.gallery__container {
	display: flex;
	gap: px($s2); // Now using a spacing variable wrapped with px()
	animation: moveLine 10s linear infinite;

	@media (max-width: px($wc3)) {
		display: block;
		max-width: px($maxWC);
		margin: 0 auto;
		padding: 0 px($s3);
		overflow: hidden;
		animation: none;
		-webkit-animation: none;
	}

	@media (max-width: px($wc2)) {
		padding: 0 px($s2);
	}
}

@keyframes moveLine {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-80%);
	}
}

.gallery__img {
	@include av('height', 400, 280, $maxWC, $minWC);

	@media (max-width: px($wc3)) {
		display: none;

		&:first-child {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}
