.header {
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: $main-bg;
	@include av('padding-top', $s4, $s3, $maxWC, $minWC);
	@include av('padding-bottom', $s3, $s2, $maxWC, $minWC);
	border-bottom: 2px solid $txt-gray;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.desktop-logo {
	@include av('height', 40, 20, $maxWC, $minWC);
}

.mobile-logo {
	display: none;
}

@media (max-width: px($wc3)) {
	.mobile-logo {
		display: block;
	}

	.desktop-logo {
		display: none;
	}
}

.btn {}