.review__container {}

.sl-container {
	position: relative;
	@include av('height', 400, 250, $maxWC, $minWC);
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.sl-container .view {
	position: absolute;
	top: -5;
	left: 0;
	overflow: hidden;
}

.sl-container .view img {
	object-fit: cover;
	@include av('height', 400, 250, $maxWC, $minWC);
}

.sl-container .view-before {
	border-radius: 6px;
	z-index: 10;
	@include av('height', 390, 240, $maxWC, $minWC);
	max-width: 100%;

	img {
		height: 100%;
	}

	@media (max-width: px($wc4)) {
		width: 100%;

		img {
			width: 100%;
		}
	}
}

.sl-container .view-after {
	border-radius: 6px;
	width: 100px;
	z-index: 20;
	@include av('height', 390, 240, $maxWC, $minWC);

	img {
		height: 100%;
	}
}


.sl-container .dragme {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 2px;
	height: 100%;
	/* Will now match the parent's height correctly */
	left: 100px;
	/* Adjust as necessary for initial position */
	background-color: #FFFFFF;
	cursor: pointer;
	z-index: 60;
}

.sl-container .dr-circle {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	cursor: pointer;
	z-index: 60;
}

.dr-circle-top {
	top: 0;
}

.dr-circle-bottom {
	bottom: 0;
}


.review {}

.review__container {}

.container {}

.review__list {
	width: 100%;
}

.review__li {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

	@media (max-width: px($wc4)) {
		grid-template-columns: 1fr;
	}
}

.sl-container {}

.view {}

.view-after {}

.view-before {}

.dragme {}

.dr-circle {}

.dr-circle-top {}

.dr-circle-bottom {}

.sl-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: calc(100% - 10px);
}

.sl-body {
	flex: 1 1 auto;

	h2 {
		color: #919191;

		font-family: "Archivo Black";
		@include av('font-size', 44, 24, $maxWC, $minWC);
		font-style: normal;
		font-weight: 400;
		line-height: 120%;

		@include av('margin-bottom', 20, 10, $maxWC, $minWC);
	}

	p {
		@include av('margin-bottom', 20, 10, $maxWC, $minWC);
	}


	@media (max-width: px($wc4)) {
		@include av('margin-bottom', 40, 20, $maxWC, $minWC);
	}
}

.slider-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.prev {
	background-color: $main-bg;

	svg {

		path {
			stroke: #919191; // Начальный цвет обводки path
		}

		// При наведении на .next изменяем stroke для всех path внутри SVG
		&:hover path {
			stroke: #FFFFFF;
		}
	}

	@media (max-width: px($wc4)) {
		display: none;
	}
}

.next {
	background-color: $main-bg;

	svg {

		path {
			stroke: #919191; // Начальный цвет обводки path
		}

		// При наведении на .next изменяем stroke для всех path внутри SVG
		&:hover path {
			stroke: #FFFFFF;
		}
	}

	@media (max-width: px($wc4)) {
		display: none;
	}
}

.slider-pagination {
	display: flex;
	gap: 10px;

	@media (max-width: px($wc4)) {
		margin-left: auto;
	}
}

.dot {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;

	background-color: $main-bg;
	border: 1px #919191 solid;
}

.active {
	border: 1px #FFFFFF solid;
	background-color: #FFFFFF;
}