// ------------------------------
// System Files
// ------------------------------
@use 'sass:math';
@import './normalize';
@import './av';
@import './px';

// ------------------------------
// Color Styles
// ------------------------------
$main-white: #ffffff;
$main-bg: #111111;
$main-yellow: #FFD51B;

$txt-white: #ffffff;
$txt-black: #000000;
$txt-light-gray: #CDCDCD;
$txt-gray: #878787;
$txt-dark-gray: #555555;
$txt-yellow: #FFD51B;

// ------------------------------
// Screen Resolutions
// WidthContainer Variables
// ------------------------------
$maxWC: 1300;
$wc4: 991.98;
$wc3: 767.98;
$wc2: 474.98;
$wc1: 359.98;
$minWC: 360;

// ------------------------------
// Spacing System
// ------------------------------
$s1: 8;
$s2: 10;
$s3: 20;
$s4: 30;
$s5: 40;
$s6: 60;
$s7: 80;
$s8: 100;

// Margin Classes
.margin-top {
	@include av('margin-top', $s8, $s6, $maxWC, $minWC);
}

.small-margin-top {
	@include av('margin-top', $s5, $s4, $maxWC, $minWC);
}

.border-radius {
	border-radius: 6px;
}

// ------------------------------
// Style Files
// ------------------------------
@import './fonts';
@import './header';
@import './hero';
@import './poster';
@import './mud';
@import './service';
@import './gallery';
@import './footer';

// ------------------------------
// System Classes
// ------------------------------
body {
	background-color: $main-bg;
	color: $txt-gray;
}

.container {
	max-width: px($maxWC);
	margin: 0 auto;
	padding: 0 px($s3);
	overflow: hidden;

	@media (max-width: px($wc2)) {
		padding: 0 px($s2);
	}
}

.btn {
	white-space: nowrap;
	display: inline-block;
	max-height: 100%;

	font-family: "Helvetica Neue";
	@include av('font-size', 20, 17, $maxWC, $minWC);
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	color: $txt-black;

	border-radius: 6px;
	transition: 0.2s;
	background-color: $main-white;
	padding: 10px 20px 12px 20px;

	&:hover {
		background-color: $main-yellow;
	}

	@media (max-width: px($wc3)) {
		padding: 6px 20px 8px 20px;
	}
}
